<h1>Keywords</h1>

<% if @keywords && @keywords.length > 0 %>

  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @Keywords.each do |Keywords| %>
        <tr>
          <td><%= Keywords.title %></td>
          <td><%= Keywords.description %></td>
          

          <td><%= link_to 'Show', Keywords %></td>
          <td><%= link_to 'Edit', edit_keywords_path(Keywords) %></td>
          <td><%= link_to 'Destroy', Keywords, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <h3>No keywords found.</h3>
<% end %>

<br>

<%= link_to 'New Keyword', new_keywords_path %>
