<h1>Keywords</h1>



<%= form_for :search, url: search_path do |t| %>


  
 <!--<table>
  <tr>
    <td>
       <div class="medium-6 columns">
           <label>Search based on:
             <select id="select" required>
               <option value=""></option>
               <option value="title">Title</option>
               <option value="description">Description</option>
              </select>
           </label>
         </td>
         <td>-->
            <%= t.text_field :content %>
        </td>
      </div>

   </tr>
   </table>
  
  <p>
   <p>
      <%= t.submit 'Search' %>

 
      <!--<button class="button" type="reset" value="Reset">Reset</button>-->
   </p>
  </p>
    
 
<% end %>

<% if @title %>
  <%= @title.title %>
<% else %>
  <p>Could not find <%= params[:content] %></p>
<% end %>

 





